@use '../../luminaFrame/base/breakpoints' as *;

.heroSection {
  background-color: #ffe845;
  height: 55vh;
  position: relative;
  display: flex;
  align-items: center;
  @include breakpoint(sm, "not all") {
    height: 70vh;
    align-items: baseline;
  }
}

.heroGreeting {
  width: 50%;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.heroLogo {
  @include breakpoint(sm, "not all") {
    position: absolute;
    bottom: 0;
    width: 225px;
    right: 0;
  }
  @include breakpoint(xs, "not all") {
    width: 180px;
  }
}
