@use '../../luminaFrame/base/breakpoints' as *;

.fleetSection {
  padding: var(--space-lg) 0 var(--space-lg) var(--space-xxl);
  background-color: #f2f2f2;
  padding-left: var(--space-xl);

  @include breakpoint(md, "not all") {
    padding-left: 10px;
    padding-right: 10px;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.fleet {
  border: 8px solid var(--color-contrast-higher);
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, opacity 0.5s ease;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    border-radius: inherit;
  }
}


//.swiperContainer {
//  cursor: pointer;
//  height: 550px;
//  padding-bottom: var(--space-md);
//  margin-top: var(--space-md);
//}
