@use '../../luminaFrame/base/breakpoints' as *;

.scrollContainer {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background-color: var(--color-white);
  position: relative;
  height: 50vh;

  @include breakpoint(md, "not all") {
    height: revert;
    padding-bottom: var(--space-xl);
    padding-top: var(--space-xxl);
  }
}

.scrollText {
  transform: rotate(4deg);
  display: flex;

  &.negative {
    transform: rotate(-4deg);
  }
}

.scrollContainer img {
  animation: rotate360 5s infinite linear;
}

.scrollContainer span, .scrollContainer img {
  transform: skewX(-15deg);
  display: inline-block;
  margin: 0 10px;
  align-self: center;

}

.scrollContainer span {
  font-size: 180px;
  color: var(--color-contrast-higher);
  @include breakpoint(md, "not all") {
    font-size: 80px;
  }
}

.starIcon {
  width: 80px;
  height: 80px;
  margin: 0 10px;
  @include breakpoint(md, "not all") {
    width: 40px;
    height: 40px;
  }
}

.scrollArrow {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  @include breakpoint(md, "not all") {
    display: none;
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
