:root {
  --font-primary: 'Inter', 'Helvetica', 'Arial', sans-serif;
  --font-primary-light: 'Inter Light', 'Helvetica', 'Arial', sans-serif;
  --font-primary-medium: 'Inter Medium', 'Helvetica', 'Arial', sans-serif;
  --font-bold: 'Test Bold', sans-serif;
  --body-font-weight: 500;
  --text-base-size: 10px;
  --text-scale-ratio: 1.55;

  --body-line-height: 1.8;
  --heading-line-height: 1.2;
  --heading-front-weight: 600;
  --button-font-weight: 400;

  --font-family-capital-letter: 1;
  --text-unit: var(--text-base-size);
}

:root, * {

  --text-xs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));
}

body {
  color: var(--color-contrast, hsl(0, 0%, 40%));
  font-weight: var(--body-font-weight, normal);
  line-height: var(--body-line-height);
}

h1, h2, h3, h4, h5, h6 {
  line-height: var(--heading-line-height, 1.2);
  font-weight: var(--heading-front-weight, 600);
  margin: 1rem 0;
  color: var(--color-contrast-higher);

  span {
    color: var(--color-primary);
  }
}

p {
  font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1900 - 360)));

  span {
    color: var(--color-primary);
  }
}

h1 {
  font-size: calc(34px + (64 - 34) * ((100vw - 320px) / (1900 - 360)));
  font-family: var(--font-primary);
}

h2 {
  font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1900 - 360)));
  font-family: var(--font-primary);
}

h3 {
  font-size: calc(26px + (32 - 26) * ((100vw - 320px) / (1900 - 360)));
  line-height: 1.6;
}

h4 {
  font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1900 - 360)));
  font-family: var(--font-primary-light);
  line-height: 1.5;
  letter-spacing: 1px;
}

h5 {
  font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1900 - 360)));
  line-height: 1.4;
}

h6 {
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1900 - 360)));
  white-space: break-spaces;
}

.pixelated {
  font-family: var(--font-pixelated);
  font-size: 1.1em;
  line-height: 1;
}

.text-stroke {
  -webkit-text-stroke: 1px var(--color-white);
  color: transparent;
}

b {
  font-family: var(--font-primary-medium);
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.font-500 {
  font-weight: 500;
}
