@use '../../luminaFrame/base/breakpoints' as *;

.pricingSection {
  height: 85vh;
  background-color: var(--color-white);
  padding-bottom: var(--space-xl);
  overflow: hidden;
}

.pricingWrapper {
  border-radius: 50px;
  background-color: #ffe845;
  margin: 0 var(--space-xxl);
  display: grid;
  place-items: center;
  position: relative;
  height: 100%;
  @include breakpoint(md, "not all") {
    background-color: transparent;
  }
}

.digit {
  font-weight: 700;
  font-size: 200px;
  color: var(--color-contrast-higher);
  @include breakpoint(sm, "not all") {
    font-size: 150px;
    line-height: 1;
  }
}

.currency {
  font-weight: 400;
  font-size: 100px;
  color: var(--color-contrast-higher);
  @include breakpoint(sm, "not all") {
    font-size: 50px;
  }
}

.pricingLogo {
  position: absolute;
  bottom: var(--space-lg);
  right: var(--space-lg);

  @include breakpoint(sm, "not all") {
    width: 100px;
    bottom: 0;
  }
}

.pricingCard {
  border: 8px solid var(--color-contrast-higher);
  border-radius: 50px;
  width: 600px;
  position: absolute;
  padding: var(--space-sm) var(--space-xl);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  background-color: #ffe845;
  @include breakpoint(sm, "not all") {
    width: 300px;
    height: 300px;
  }
}

.pricingCard:nth-child(1) {
  top: 100px;
}
.pricingCard:nth-child(2) {
  top: 150px;
}
.pricingCard:nth-child(3) {
  top: 200px;
}

@keyframes fadeInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.pricingCard.is-visible {
  transform: translateY(0);
  opacity: 1;
  animation: fadeInUp 0.15s ease forwards;
}
