@use '../../luminaFrame/base/breakpoints' as *;

.footerSection {
  //background-color: var(--color-white);
  background-color: #ffe845;

  h3 {
    width: 75%;
    @include breakpoint(md, "not all") {
      width: 100%;
    }
  }

  img {
    @include breakpoint(md, "not all") {
      display: none;
    }
  }

  .button {
    @include breakpoint(md, "not all") {
      width: 100%;
    }
  }

  .ridingLogoWrapper {
    display: grid;
    place-items: center;
  }
}
