@use 'luminaFrame/base/_mixins.scss' as *;
@use 'luminaFrame/base/breakpoints' as *;

html {
  background-color: #FDDC01;
  overflow-x: hidden;
}

.section {
  padding: var(--space-md) var(--space-lg);
}
